/* Containers */

.container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 20px;
    background-color: #AFD2F1;
}

.navbar {
    display: grid;
    grid-template-columns: 10px;
    grid-template-rows: 100px 100px;
    grid-column: 3;
    background-color:#AFD2F1;
}



/* Dropdown Stuff + some extra navbar stuff*/

.dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    grid-column: 3;
}

.dropbtn {
    background-color: #AFD2F1;
    color: black;
    padding: 12px 18px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    justify-self: center;
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #AFD2F1;
    min-width: 160px;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}


.dropdown-content a {
    display: block;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
}


.dropdown-content a:hover {
    background-color: #AFD2F1;
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: #AFD2F1;
}

.cartnavbar {
grid-row: 2;
grid-column: 4;
justify-self: right;
}

/* Image Code */

.cartnavbar img {
  width: 75px;
  height: 75px;
}

.bigimage {
  width: 100%;
}

.bigimage img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Products */

.products {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 20px;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

/* Text */

.mainlogo {
    text-align: center;
}

.h3 {
    grid-column: 2;
}
